<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<body>

<div layout:fragment="content">

    <table class="table">

        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="p:${products}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.quantity}"></td>

            <td>
                <a class="btn btn-danger"
                   onclick="return confirm('Are you sure?')"
                   th:href="@{/deleteProduct(id=${p.id})}">
                    Delete
                </a>
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>